body {
    background: linear-gradient(180deg, rgb(77, 136, 160),rgb(0, 61, 165)) fixed;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.2;
}

nav > #autobar {
    display: flex;
    overflow: hidden;
    padding: .25em 1em;
    background: #ddd;
    list-style: none;
    margin: 0;
}

#autobar > li:first-child::after {
    content: "  |  ";
    white-space: pre;
}

nav > #autobar > #odin {
    margin-left: auto;
}

#bottombar {
    background: #ddd;
    text-align: center;
    padding: .25em 1em;
}

img {
    border-radius: .5em;
    height: auto;
    width: 600px;
    max-width: 100%;
    object-fit: cover;
}

#header > h1 {
    padding: .25em 1em;
    background: #f2f2f2;
    text-align: center;
    font-size: 50px;
    margin: 0;
    /* color: rgb(77, 136, 160); */
}

.card {
    display: flex;
    margin: 30px;
    background: #f2f2f2;
    margin: 1em 0em;
    padding: .5em;
    justify-content: space-evenly;
}

.car {
    background: #ddd;
    display: flex;
    border: 1px solid white;
    border-radius: .5em;
    justify-content: center;
}

.speclist {
    display: flexbox;
    list-style: none;
    text-align: center;
}

h2 {
    text-align: center;
    background: linear-gradient(90deg, darkgrey, #ddd) ;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 25px;
}

.secondbox > h2 {
    background: linear-gradient(90deg, #ddd, darkgrey);
}

h3 {
    text-align: center;
    margin: 5px;
    border-bottom: 1px solid darkgrey;
    padding: 2px;
}

.specbox {
    border: 2px solid rgb(77, 136, 160);
    border-radius: .3em;
    margin: 5px;
    padding: .5em;
    width: 250px;
    flex-shrink: 0;
}

p {
    margin: .5em 1em;
}

.speclist > p {
    text-align: left;
}

.secondbox {
    display: flex;
    flex-direction: column;
    padding: .5em;
    width: 1000px;
    margin: 7px;
}