body {
    background: linear-gradient(180deg, rgb(77, 136, 160),rgb(0, 61, 165)) fixed;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.topbar {
    background: #ddd;
    padding: 10px;
    border-bottom: 1px dotted hsl(0deg 0% 0% / 0.2);
}

.topbar > ul {
    display: flex;
    gap: 12px;
    list-style-type: none;
    align-items: baseline;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(0, 61, 165);
    font-weight: 700;
}

li.odin {
    margin-left: auto;
}

#bottombar {
    background: #ddd;
    text-align: center;
    padding: .25em 1em;
}

img {
    border-radius: .5em;
    height: auto;
    width: 600px;
    max-width: 100%;
    object-fit: cover;
}

#header > h1 {
    padding: .25em 1em;
    background: #f2f2f2;
    text-align: center;
    font-size: 50px;
    margin: 0;
    border-bottom: 2px solid darkgrey;
    /* color: rgb(77, 136, 160); */
}

.card {
    display: flex;
    margin: 30px;
    background: #f2f2f2;
    margin: 1em 0em;
    padding: .5em;
    justify-content: space-evenly;
}

.car {
    background: #ddd;
    display: flex;
    border: 1px solid white;
    border-radius: .5em;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    background: linear-gradient(90deg, darkgrey, #ddd) ;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-size: 25px;
}

.secondbox > h2 {
    background: linear-gradient(90deg, #ddd, darkgrey);
}

h3 {
    text-align: center;
    margin: 5px;
    border-bottom: 1px solid darkgrey;
    padding: 2px;
}

.specbox {
    border: 2px solid rgb(77, 136, 160);
    border-radius: .3em;
    margin: 5px;
    padding: .5em;
    width: 250px;
    flex-shrink: 0;
}

p {
    margin: .5em 1em;
}

.speclist > p {
    text-align: left;
}

.secondbox {
    display: flex;
    flex-direction: column;
    padding: .5em;
    width: 1000px;
    margin: 7px 0px;
}