<%- include('partials/head.ejs') %>

    <%- include('partials/navbar.ejs') %>
        <header class="header">
            <section id="mainContainer" class="container">
                <h1>About Me </h1>
                <h2>Hi, my name is Nicholas Henderson</h2>
                <div id="textContainer">
                    <p>
                        I've relatively recently taken to learning programming, starting with full stack web
                        development.
                        I made this whole website myself, using HTML, CSS, Javascript, Node, Express, EJS, and so on.
                        My goal is to shift from working in retail towards working in tech which has always been a huge
                        passion
                        of
                        mine.
                    </p>
                    <img id="myPicture" src="/images/myself.jpg" alt="A picture of Nicholas Henderson">
                </div>
            </section>
        </header>
        <%- include('partials/footer.ejs') %>