@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
body {
  /* background: linear-gradient(180deg, rgb(255, 255, 255), rgb(132, 177, 255)) fixed; */
    font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.navbar, .header {
background: linear-gradient(0deg, #526cb3, #171a24) fixed;
}

.header {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .6);
  color: rgb(200, 200, 200);
}

#footer {
  text-align: center;
}

#mainContainer {
  padding: 2rem;
}
#textContainer {
  display: flex;
}

#myPicture {
border-radius: 5%;
max-width: 300px;
}

h2 {
  text-align: center;
  /* background: linear-gradient(90deg, darkgrey, #ddd);
  border-bottom: 1px solid black;
  border-top: 1px solid black; */
  font-size: 25px;
}

h3 {
  text-align: center;
  margin: 5px;
  border-bottom: 1px solid darkgrey;
}

p {
  margin: .5em 1em;
  font-size: 1.25rem;
}